::selection {
    background-color: rgb(123, 0, 255);
    color: rgb(0, 0, 0); 
  }
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1+Code:wght@100..700&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

/* scroll */
::-webkit-scrollbar{
    width: 15px;
    height: 9%;
}
::-webkit-scrollbar-track{
    background: rgb(49, 0, 72);
}
::-webkit-scrollbar-thumb{
    
    background: rgb(0,0,0);
   
    background: linear-gradient(180deg, rgb(49, 0, 72) 0%, rgba(29,0,97,1) 7%, rgba(219,0,207,1) 92%, rgb(49, 0, 72) 100%);
    border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover{
    background: rgb(0,0,0);
    background: linear-gradient(180deg,  rgb(45, 0, 147) 0%, rgba(219,0,148,1) 100%);
}

body{
    font-family:"M PLUS 1 Code", monospace;
    margin: 0;
    background: rgb(16, 0, 24);
}

main{
    margin: auto;
    width: 95%;
}    
header{
    height: 550px;
    width: 100%;
    border: 2px solid rgba(255, 255, 255, 0.162);
    border-radius: 20px;
    margin-top: 20px;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.namecard{
    color: aliceblue;
    text-align: center;
}.namecard p{
    font-size: 20px;
}
.namecard h1{
    z-index: 1;
    margin: 0px;
    font-size: 60px;
}
.circle{
    width:900px ;
    height: 500px;
    background: rgb(16,0,39);
    background: linear-gradient(127deg, rgba(16,0,39,1) 0%, rgba(141,0,255,1) 100%);;
    border-radius: 50% 50% 0 0;
    bottom: -300px;
    position: absolute;
    left: 18.5%;
    transform: translateX(0);
}
.circle1{
    width:900px ;
    height: 500px;
    background: rgb(16,0,39);
    background: linear-gradient(180deg, rgba(16,0,39,1) 0%, rgb(235, 0, 176) 50%);
    border-radius: 50% 50% 0 0;
    bottom: -380px;
    position: absolute;
    right: -450px;
    transform:translateX(0)
}
.circle2{
    width:900px ;
    height: 500px;
    background: rgb(16,0,39);
    background: linear-gradient(180deg, rgba(16,0,39,1) 0%, rgb(235, 0, 176) 50%);
    border-radius: 50% 50% 0 0;
    bottom: -300px;
    position: relative;
    left: -450px;
    transform: translate(0);
}

.dp img{
    border-radius: 50%;
    height: 80%;
    z-index: 2;
   position: absolute;
   left: 50%;
   transform: translate(-50%);
   bottom: 5px;
   border-color: rgb(94, 0, 55);
   box-shadow:0px 0px 15px rgb(236, 0, 165);
   
}
.dp img:hover{
    animation: changeShadow 0.5s infinite alternate;
}
@keyframes changeShadow {
    0% {
      border-color: rgb(94, 0, 55);
      box-shadow:0px 0px 15px rgb(236, 75, 0);
    }
    100% {
      border-color: rgb(236, 75, 0);
      box-shadow:0px 0px 15px rgb(94, 0, 55);
    }
}
  

/* socials */
.socials{
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.socials img{
  width: 40px;
}
.socials button:hover{
  background: rgba(255, 255, 255, 0.1); /* Light background color */
    backdrop-filter: blur(10px); /* Apply blur effect */
    -webkit-backdrop-filter: blur(10px); /* Apply blur effect for Safari */
}
.button-57 {
position: relative;
overflow: hidden;
border: none;
color: #18181a;
font-size: 25px;
width: 200px;
border-radius:10px;
padding: 10px 10px;
/* box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.354); */
cursor: pointer;
border:solid 1px #b602bd;
background: #73008d1f;
}

.button-57 span:first-child {
position: relative;
transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
z-index: 10;
}

.button-57 span:last-child {
color: white;
display: block;
position: absolute;
bottom: 0;
transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
z-index: 100;
opacity: 0;
top: 50%;
left: 50%;
transform: translateY(225%) translateX(-50%);
height: 14px;
}

.button-57:after {
content: "";
position: absolute;
bottom: -50%;
left: 0;
width: 100%;
height: 100%;
background: rgb(16,0,39);
background: linear-gradient(180deg, rgba(16,0,39,1) 0%, rgb(235, 0, 114) 100%);
transform-origin: bottom center;
transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
transform: skewY(9.3deg) scaleY(0);
z-index: 50;
}

.button-57:hover:after {
transform-origin: bottom center;
transform: skewY(9.3deg) scaleY(2);
box-shadow: none;
}

.button-57:hover {
box-shadow: rgba(246, 246, 246, 0.2); /* Light background color matching the theme */
}

.button-57:hover span:last-child {
transform: translateX(-50%) translateY(-100%);
opacity: 1;
transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
}
/* about */
.about{
    margin: 5%;
    color: aliceblue;
    text-align: center;
    font-size: 30px;
}


/* skills */
.skillset{
  text-align: center;
  color: aliceblue;
  font-size: 30px;

}

/* .skillbox{
  
} */


.projects{
  
  height: 600px;
  position: relative;
  color: aliceblue;
    text-align: center;
    font-size: 30px;
}

.circle3{background: rgb(48,0,76);
  background: linear-gradient(90deg, rgba(48,0,76,1) 0%, rgba(0,200,127,1) 100%);
  height: 250px;
  width: 250px;
  border-radius: 50%;
}
.circle4{background: rgb(48,0,76);
  background: linear-gradient(90deg, rgba(48,0,76,1) 0%, rgba(0,200,127,1) 100%);
  height: 250px;
  width: 250px;
  border-radius: 50%;
  left: 50%;
  position: absolute;
}
.circle5{background: rgb(48,0,76);
  background: linear-gradient(90deg, rgba(48,0,76,1) 0%, rgba(0,200,127,1) 100%);
  height: 100px;
  width: 100px;
  border-radius: 50%;
  top: 20px;
  
  left: 80%;
  position: absolute;
}
.circle6{background: rgb(48,0,76);
  background: linear-gradient(90deg, rgba(48,0,76,1) 0%, rgba(0,200,127,1) 100%);
  height: 100px;
  width: 100px;
  border-radius: 50%;
  top: 100px;
  left: 40%;
  position: absolute;
}
.circle7{background: rgb(48,0,76);
  background: linear-gradient(90deg, rgba(48,0,76,1) 0%, rgba(0,200,127,1) 100%);
  height: 100px;
  width: 100px;
  border-radius: 50%;
  top: 400px;
  left: 20%;
  position: absolute;
}
.project_tile{
  background: #ffffff17;
  position: absolute;
  height: 800px;
  width: 90%;
  z-index: 1;
  top: 100px;
  left: 50%;
  transform: translate(-50%);
  border-radius: 20px;
  backdrop-filter: blur(10px);
}



/* footer */
footer{
    height: 1000px;

}
